body {
    /* font-family: 'Bayon', sans-serif;
    font-family: 'Butcherman', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Megrim', cursive;
    font-family: 'Rubik Glitch', cursive; */
    font-family: 'Rubik Mono One', sans-serif;
    /* justify-content: center; */
    /* text-align: center; */
    height: 800px;
    width: 1000px;
}
header {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
h1 {
    margin: 0 auto;
    font-size: 50px;
    color: greenyellow;
    top: 2%;
    text-shadow: 3px 3px 3px black;
}
.begin {
    display: grid;
    float: left;
}
.instructions {
    justify-items: center;
    padding: 5px;
    font-size: 20px;
    margin: 3px;
    width: 130px;
    font-family: 'Bayon', sans-serif;
    float: left;
    margin: 5px auto;
}
.one-player {
    justify-items: center;
    padding: 5px;
    font-size: 20px;
    margin: 3px;
    width: 130px;
    font-family: 'Bayon', sans-serif;
    float: left;
    margin: 0 auto;
}
.play {
    justify-items: center;
    padding: 5px;
    font-size: 20px;
    margin: 7px;
    width: 70px;
    font-family: 'Bayon', sans-serif;
    visibility: visible;
    left: 0;
}
aside {
    font-family: 'Bayon', sans-serif;
    border-block-color: red;
    border-block-start-style: dotted;
    border-block-end-style: dotted;
    border-inline-end-style: dotted;
    border-inline-start-style: dotted;
    border-inline-width: thick;
    border-inline-color: red;
    border-block-width: thick;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px black;
    color: rgb(224, 221, 221);
    padding: 8px;
    float: right;
    letter-spacing: 1.5px;
    font-size: 20px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    position: relative;
    width: 100%;
}
#randomWord {
    color: black;
    font-size: 40px;
    left: 0;
}
.pick {
    text-align: center;
}
.letter-buttons {
    z-index: 1;
}
#letter {
    padding: 12px;
    font-size: 20px;
    margin: 7px;
    width: 60px;
    font-family: 'Rubik Mono One', sans-serif;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.alien {
    display: grid;
    z-index: 1;
    width: 15%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
    margin: 0 0 0 36%;
}
#pic-six {
    width: 55px;
    visibility: hidden;
    grid-column: 2;
    grid-row: 1;
}
#pic-seven {
    width: 55px;
    visibility: hidden;
    grid-column: 3;
    grid-row: 1;
}
#pic-eight {
    width: 55px;
    visibility: hidden;
    grid-column: 4;
    grid-row: 1;
}
#pic-one {
    width: 55px;
    visibility: hidden;
    grid-column: 1;
    grid-row: 2;
}
#pic-two {
    width: 55px;
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
}
#pic-three {
    width: 55px;
    visibility: hidden;
    grid-column: 3;
    grid-row: 2;
}
#pic-four {
    width: 55px;
    visibility: hidden;
    grid-column: 4;
    grid-row: 2;
}
#pic-five {
    width: 55px;
    visibility: hidden;
    grid-column: 5;
    grid-row: 2;
}
.light{
    width:25%;
    margin: -8% 40.5% -26% auto;
}
#pic-nine {
    width: 300px;
    opacity: 70%;
    visibility: hidden;
}
.container {
    justify-content: center;
    text-align: center;
    display: flexbox;
    flex-direction: column;
    margin: 5% auto 0 auto;
}
.animal {
    z-index: 1;
    margin: 0 auto -5% 0;
    transform: translate(0,0);
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    opacity: 100%;
}
#cow {
    width: 260px;
}
