body {
    background-color: white;
}
section.wordPlacement {
    background-color: pink;
    color: white;
}
#randomWord{
    color: black;
}
.letterButtons {
    background-color: white;
    color: blue;
}
#buttons {
    background-color: white;
    color: blue;
}
