body {
    background-color: white;
}
section.wordPlacement {
    background-color: purple;
    color: white;
}
#randomWord{
    color: black;
}
section.letterButtons {
    background-color: white;
    color: blue;
}
#buttonA {
    background-color: white;
    color: black;
}
